<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="action">
	<f:translate key="tx_sksnippetcollection_domain_model_history.action" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="action" /><br />
<label for="name">
	<f:translate key="tx_sksnippetcollection_domain_model_history.name" />
</label><br />
	<f:form.textfield property="name" /><br />
<label for="code">
	<f:translate key="tx_sksnippetcollection_domain_model_history.code" />
</label><br />
	<f:form.textarea property="code" cols="40" rows="15" /><br />
<label for="beschreibung">
	<f:translate key="tx_sksnippetcollection_domain_model_history.beschreibung" />
</label><br />
	<f:form.textfield property="beschreibung" /><br />
<label for="kommentar">
	<f:translate key="tx_sksnippetcollection_domain_model_history.kommentar" />
</label><br />
	<f:form.textfield property="kommentar" /><br />
</html>