<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Snippet</h1>

<f:flashMessages />

<table  class="tx_sksnippetcollection" >
	<tr>
		<th><f:translate key="tx_sksnippetcollection_domain_model_snippet.name" /></th>
		<th><f:translate key="tx_sksnippetcollection_domain_model_snippet.code" /></th>
		<th><f:translate key="tx_sksnippetcollection_domain_model_snippet.beschreibung" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{snippets}" as="snippet">
		<tr>
			<td><f:link.action action="show" arguments="{snippet : snippet}"> {snippet.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{snippet : snippet}"> {snippet.code}</f:link.action></td>
			<td><f:link.action action="show" arguments="{snippet : snippet}"> {snippet.beschreibung}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{snippet : snippet}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{snippet : snippet}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Snippet</f:link.action>
</f:section>
</html>